<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <description></description>
    <display-name>AddBookmarkCon</display-name>
    <servlet-name>AddBookmarkCon</servlet-name>
    <servlet-class>Controller.Cock_RecomCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookmarkCon</servlet-name>
    <url-pattern>/AddBookmarkCon</url-pattern>
  </servlet-mapping>
  <display-name>FirstProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Cock_RecomCon</servlet-name>
    <servlet-class>Controller.Cock_RecomCon</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateMyRecipeServiceCon</servlet-name>
    <servlet-class>Controller.UpdateMyRecipeServiceCon</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RecipeGuideServiceCon</servlet-name>
    <servlet-class>Controller.RecipeGuideServiceCon</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoadRecipeServiceCon</servlet-name>
    <servlet-class>Controller.LoadRecipeServiceCon</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoadMyRecipeServiceCon</servlet-name>
    <servlet-class>Controller.LoadMyRecipeServiceCon</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteMyRecipeServiceCon</servlet-name>
    <servlet-class>Controller.DeleteMyRecipeServiceCon</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServiceCon</servlet-name>
    <servlet-class>Controller.LoginServiceCon</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookmarkServiceCon</servlet-name>
    <servlet-class>Controller.BookmarkServiceCon</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JoinServiceCon</servlet-name>
    <servlet-class>Controller.JoinServiceCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cock_RecomCon</servlet-name>
    <url-pattern>/Cock_RecomCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateMyRecipeServiceCon</servlet-name>
    <url-pattern>/UpdateMyRecipeServiceCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RecipeGuideServiceCon</servlet-name>
    <url-pattern>/RecipeGuideServiceCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadRecipeServiceCon</servlet-name>
    <url-pattern>/LoadRecipeServiceCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadMyRecipeServiceCon</servlet-name>
    <url-pattern>/LoadMyRecipeServiceCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMyRecipeServiceCon</servlet-name>
    <url-pattern>/DeleteMyRecipeServiceCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServiceCon</servlet-name>
    <url-pattern>/LoginServiceCon1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookmarkServiceCon</servlet-name>
    <url-pattern>/BookmarkServiceCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JoinServiceCon</servlet-name>
    <url-pattern>/JoinServiceCon</url-pattern>
  </servlet-mapping>
</web-app>